In [1]:
import numpy as np
import pandas as pd

In [53]:
path = '../data'
train = pd.read_csv(path+'/train.csv')
test = pd.read_csv (path+'/test.csv')
ss = pd.read_csv(path+'/sample_submission.csv')
#variable_def = pd.read_csv(path+'/VariableDefinitions.csv')

In [54]:


train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [55]:
train.shape

(614, 13)

In [56]:
test.shape

(367, 12)

In [57]:
mapper= {"Y":1, "N":0}
train.Loan_Status = train.Loan_Status.map(mapper)

In [58]:
ID="Loan_ID"
cat_cols = list(train.columns[train.dtypes=="O"])
cat_cols.remove(ID)
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

In [60]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [61]:
ntrain=train.shape[0]
ntest =test.shape[0]

data = pd.concat([train, test])

In [62]:
data.shape

(981, 13)

In [65]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [64]:
data[cat_cols] = data[cat_cols].fillna('Missing')
#Label encode constraint for similar data type

data = data.fillna(99999)

In [66]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in cat_cols:
    le.fit(data[i])
    data[i]= le.fit_transform(data[i])
    print(i)

In [69]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,1,0,0,1,5849,0.0,99999.0,360.0,1.0,2,1.0
1,LP001003,1,2,1,0,1,4583,1508.0,128.0,360.0,1.0,0,0.0
2,LP001005,1,2,0,0,2,3000,0.0,66.0,360.0,1.0,2,1.0
3,LP001006,1,2,0,1,1,2583,2358.0,120.0,360.0,1.0,2,1.0
4,LP001008,1,1,0,0,1,6000,0.0,141.0,360.0,1.0,2,1.0

In [70]:
train = data[:ntrain]
test = data[ntrain:]

In [73]:
trn_dir = r'..\tmp\train_prep.csv'
test_dir = r'..\tmp\test_prep.csv'
#create a folder called tmp in this dir
train.to_csv(trn_dir,index=False)
test.to_csv(test_dir,index=False)